html{
  font-family: sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial , sans-serif;
  font-size: 13px;
  color: #333;
  width: 100%;
  margin: 0;
  padding: 10px;
}

a {
  color: rgb(0, 125, 200);
}

a:visited {
  color: rgb(213, 116, 116);
}

nav {
  font-size: 15px;
  margin-bottom: 20px;
}

/* Welcome modal opens when open a product page */
.fade.in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show {
  display: block !important;
}

.fade {
  opacity: 0;
}

.hide {
  display: none !important;
}

.modal {
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  text-align: right;
  background-color: #fefefe;
  height: 150px;
  width: 30%;
  padding: 10px;
  border: rgb(0, 83, 155) 1px solid;
}
.modal-header {
  text-align: left;
}
.close-button {
  align-items: right;
}

/* Cart popup modal */
.cart-popup {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.cart-popup__container {
  display: block;
  width: 300px;
  height: 200px; 
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.cart-popup-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cart-popup-close:hover,
.cart-popup-closefocus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cart-popup-item {
  display: flex;
  margin: 1rem 0;
}

/* Add to cart button */
#add-to-cart-btn {
  width: 10em;
  padding: 10px 20px;
  border: none;
}

.instock {
  background-color: rgb(39, 154, 47);
}

.nostock {
  background-color: #888;
}
.nostock:hover {
  background-color: rgb(0, 97, 216);
}