$background: #fefefe;
$border-base: 1px solid #888;
$primary-blue: #0038df;
$primary-green: #54c674;
$font-color: #333;
$grey: #888;

html{
	font-family: sans-serif;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial , sans-serif;
	font-size: 13px;
	color: #333;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $background;
	justify-content: center;
}

.main {
	padding: 0px 30px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $grey;
	&:visited {
		color: $grey;
	}
}


nav {
	font-size: 1.2em;
	margin: 1em 0 2em 0;
	padding: 0;
	width: 100%;
	border-bottom: $font-color 1px solid;
	display: flex;
	justify-content: center;

		li {
			margin: 0 1em 1em 0;
			border-bottom: transparent 1px solid;

			a {
				color: $font-color;
				padding: 0;

				&:hover {
					border-bottom: $primary-green 1px solid;
				}
				&:visited {
					color: $font-color;
				}
			}
		}
}

.right {
	text-align: right;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.column.collection {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 2em;
}

.row.collection {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.row.product-page-collection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.select-collection {
	display: flex;
	justify-content: flex-start;
	font-size: 1.8em;
	ul {
		display: flex;
		margin: 0;
		padding:0;
		li {
			margin: 0px 1.5em 2em 0px;
			border: $font-color 1px solid;
			a {
				color: $font-color;
				padding: 0.5em 1em;
				background-color: $primary-green;
				&:hover {
					background-color: rgb(242, 242, 128);
				}
				&:active {
					background-color: rgb(242, 242, 128);
				}
			}
		}
	}
}

.capital-letter {
	text-transform: uppercase;
}

.random-title {
	font-size: 1.3em;
}

.icon-arrow-right,
.icon-arrow-left {
  height: 9px;
}

.product-container {
	margin-top: 5em;
}

/* Welcome modal opens when open a product page */
.fade.in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 500ms;
}

@keyframes fadeInOpacity {
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

.show {
	display: block !important;
}

.fade {
	opacity: 0;
}

.hide {
	display: none !important;
}

.modal {
	position: fixed;
	right: 10px;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	text-align: right;
	background-color: $background;
	height: auto;
	width: 400px;
	padding: 30px;
	border: $border-base;
}

.modal-header {
	text-align: left;
}

.modal-product-title {
	text-align: left;
}

.cart-item {
	margin-bottom: 1.5em;
	border-top: $font-color 1px solid;
	.order {
		margin-bottom: 1.5em;
	}
}

.remove-btn {
	color: $primary-green;
}
.checkout-btn {
	background-color: $font-color;
	padding: 1em 2em;
	margin: 1em 0;
	a {
		color: $background;
		font-size: 1.4em;
	}
}
.close-btn,
.modal-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover,
	:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
}

#new-cart-item {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgba(65, 65, 65, 0.5);
	z-index: 2;
}

.cart-popup-container {
	width: 50%;
	height: 30%;
	background-color: #fefefe;
	border-radius: 5px;
	margin: 30% auto;
	padding: 10px 20px;
}
/* Add to cart */
#add-to-cart-form {
	margin-top: 2em;
}

.form-btn {
	font-size: 1.3em;
	width: 100%;
	height: 2.5em;
	margin-top: 1em;
	background-color: $background;
	border: transparent 1px solid;
}

.instock {
	border: $primary-green 1px solid;
	&:hover {
		background-color: $primary-green;
	}
}

.nostock {
	background-color: #888;
	&:hover {
		background-color: $primary-blue;
	}
}

/* Product description */
.low-stock {
	color: rgb(227, 66, 66);
}

.out-of-stock {
	color: #888;
}

.product-description {
	width: 40%;
}
